$main-color: #173856;
$secondary-color: #88A6B8;
$tertiary-color: #326CFF;
$quaternary-color: #ffffff;


$text-color: #212121;
$light-text-color: #ffffff;
$dark-text-color: #000000;

$success-color: #4CAF50;
$warning-color: #FFC107;
$error-color: #F44336;
$info-color: #2196F3;
