@import "colors";
@import "expense-income";
@import "modal";
@import "input";

* {
  font-family: Inter, sans-serif;
  margin: 0;
  font-weight: 600;

}

main {
  background: $quaternary-color;
  color: $main-color;

}

header {
  padding: 1rem;
  background: $secondary-color;
  color: $quaternary-color;
  margin-bottom: 2rem;

  nav {
    display: flex;
  }
}
